<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EvntTel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/style1.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/index.js"></script></head>
<body>
<nav style="background: transparent" class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            {{#if loggedIn}}
                <span style="font-size: medium;color: #0d151f">{{user.email}}</span>
                <a href="/logout" class="btn btn-outline-success my-2 my-sm-0" role="button" aria-pressed="true">LogOut</a>
                <br>
                <a href="/RegBeacon" class="btn btn-outline-primary my-2 my-sm-0" role="button" aria-pressed="true">Register Beacon</a>
            {{else}}
                <a href="/login" class="btn btn-outline-success my-2 my-sm-0" role="button" aria-pressed="true" >Login</a>
            {{/if}}
        </form>
    </div>
</nav>
{{#if loggedIn}}
<div class="container">
       {{#if listingbeacon}}
         <div class="row">
             <div id="loader">
                 <div class="dot"></div>
                 <div class="dot"></div>
                 <div class="dot"></div>
                 <div class="dot"></div>
                 <div class="dot"></div>
                 <div class="dot"></div>
                 <div class="dot"></div>
                 <div class="dot"></div>
                 <div class="lading"></div>
             </div>
         </div>
        {{#each allBeacons as |ab|}}
            <br>
        <br>
        <br>
        <div class="row" id="{{ab.beaconName}}" style="background-color:cornsilk ; padding: 10px 10px 10px 10px">
            <div class="col">
                <h5>Beacon Name :<span style="font-weight: 400;font-size: medium">{{ab.beaconName}}</span></h5>
                <br>
                <h5>Advertised ID : <span style="font-weight: 400;font-size: medium">{{ab.advertisedId.id}}</span></h5>
                <br>
                <h5>Advertised Type : <span style="font-weight: 400;font-size: medium">{{ab.advertisedId.type}}</span></h5>
            </div>
            <div class="col">
                <h5>Place ID : <span style="font-weight: 400;font-size: medium">{{ab.placeId}}</span></h5>
                <br>
                <h5>Latitude : <span style="font-weight: 400;font-size: medium">{{ab.latLng.latitude}}</span></h5>
                <br>
                <h5>Longitude : <span style="font-weight: 400;font-size: medium">{{ab.latLng.longitude}}</span></h5>
            </div>
            <div class="col">
                <h5>Expected Stability :<span style="font-weight: 400;font-size: medium">{{ab.expectedStability}}</span></h5>
                <br>
                <h5>Description : <span style="font-weight: 400;font-size: medium">{{ab.description}}</span></h5>
                <br>
                <h5>Status : <span style="font-weight: 400;font-size: medium">{{ab.status}}</span></h5>
            </div>
            <div class="col">
                {{#if (active ab.status)}}
                   <button class="btn btn-warning deactivate">Deactivate</button>
                 {{else}}
                    <button class="btn btn-primary activate">Activate</button>
                {{/if}}
                <br>
                <br>
                    <button class="btn btn-danger decommissioned">Decommission</button>
                 <br>
                <br>
                    <button class="btn btn-info moreInfo">More Info</button>
            </div>
        </div>
        {{/each}}
        {{/if}}
</div>
{{else}}
        <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron text-center" style="background: transparent">
                    <h1 style="color: #eeeeee">Beacon Management</h1>
                    <br>
                    <h5 style="color: #eeeeee">Register,Manage and many more with your beacons</h5>
                </div>
                </div>
            </div>
        </div>
    {{/if}}
</body>
</html>